header {
  height: 80px;
  img {
    height:80px;
  }
}

nav {
  float:right;
  width:400px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top:50px;

  a {
    color:blue;
    font-family: sans-serif;
  }
}
